<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">168Disco</a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-md-6">
        <h1 class="text-bold">ยินดีต้อนรับ</h1>
        <h1 class="text-bold">คาสิโนที่ดีที่สุด</h1>
        <p>
          168Disco เว็บพนันออนไลน์ เว็บไซต์ตรงไม่ผ่านเอเย่น
          ศูนย์รวมพนันออนไลน์ครบวงจรทุกชนิด กีฬา คาซิโน เกมส์สล็อต หวยออนไลน์
          พร้อมบริการทีมงานผู้เชี่ยวชาญโปรแกรมเมอมืออาชีพ
          ฝาก-ถอนง่ายรวดเร็วทันใจผ่านระบบออโต
        </p>
        <p>
          168Discoศูนย์รวมเว็บพนันออนไลน์ที่หลากหลายให้กับลูกค้า
          ฝาก-ถอนด้วยระบบออโตทำรายการไม่กี่วินาที พร้อมรูปแบบการเล่นง่ายๆ
          สมัครง่ายได้ในไม่กี่ขั้นตอนบริการด้วยระบบออนไลน์มาตรฐานสากล
          เท่าไหร่ก็จ่าย เติมเงินขั้นต่ำ1บาท สูงสุดไม่มีลิมิตต่อวัน
        </p>
        <div class="d-flex flex-column flex-lg-row align-items-center mt-5">
          <div>
            <a
              href="assets/res/168Disco.mobileconfig"
              role="button"
              class="btn btn-outline-light mb-4 me-lg-3"
              download
            >
              <i class="fab fa-apple"></i>
              IOS Download
            </a>
          </div>
          <div>
            <a
              href="assets/res/168Disco.apk"
              role="button"
              class="btn btn-outline-light mb-4"
              download
            >
              <i class="fab fa-android"></i>
              Android Download
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/banner.png" class="img-fluid">
      </div>
    </div>
  </div>
</header>
